.navigation .navigationleft .list {
  height: 100%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
}
.navigation .navigationleft .list.active {
  border-bottom: 2px solid black;
}
.navigation {
  box-shadow: 0 0.1rem 0.2222rem rgb(0 0 0 / 15%) !important;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin: 2rem 0rem;
  height: 3rem;
}
.navigationwraper {
  position: sticky;
  top: -1px;
  z-index: 999;
  padding: 0;
  
}
.gray{
  background-color: gray;
}

.navigationleft {
  display: flex;
  justify-content: space-around;
width: calc(100% - 300px);}

@media screen and (min-width: 1024px) {
  .content.text-start {
    left: 8rem;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navigationleft {
    font-size: 1.5rem;
  }
  .navigation .navigationleft .list{
    font-size: small;
  }
  .navinput {
    width: 17.5rem;
  }
  .navAuthentication {
    font-size: smaller;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

